.home_container .bannerProbos .banner img {
  opacity: 80%;
  filter: brightness(60%);
}
.home_container .about {
  width: 1023px;
  padding: 10px;
}
.home_container .about .item {
  border-radius: 5px;
  margin-top: 15px;
}
.home_container .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #FF6060;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
  cursor: pointer;
}
.home_container .title h2 {
  font-size: 24px;
}
.home_container .title .arrow.open {
  transform: rotate(-180deg);
  transition: transform 0.4s ease;
}
.home_container .title .arrow.closed {
  transition: transform 0.4s ease;
}
.home_container .content.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0 15px;
  transition: min-height 0.3s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
}
.home_container .content.show {
  max-height: 9999px;
  opacity: 1;
  margin-top: 0;
  padding: 15px;
  background-color: #F6F6F6;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
}

.cardDetailsContainer .collapseContainer, .cardDetailsContainer .upperContainer .ownerData .stars_rating, .cardDetailsContainer .upperContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardDetailsContainer .imgSlider .slidePrev, .cardDetailsContainer .imgSlider .slideNext {
  position: absolute;
  top: 45%;
  cursor: pointer;
}

.cardDetailsContainer {
  width: 85vw;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.cardDetailsContainer .imgSlider {
  margin-bottom: 20px;
  width: 85vw;
  position: relative;
}
.cardDetailsContainer .imgSlider .mainSliderImg {
  width: 100%;
  height: 415px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cardDetailsContainer .imgSlider .slideNext {
  right: 40px;
}
.cardDetailsContainer .imgSlider .slidePrev {
  left: 40px;
  rotate: 180deg;
}
.cardDetailsContainer .imgSlider .counter {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  bottom: 35px;
  left: 50%;
}
.cardDetailsContainer .imgSlider .counter p {
  color: #F6F6F6;
  margin: 0px;
}
.cardDetailsContainer .imgSlider .counterHide {
  display: none;
}
.cardDetailsContainer .upperContainer {
  width: 100%;
}
.cardDetailsContainer .upperContainer .firstContainer ul {
  display: flex;
  flex-direction: row;
}
.cardDetailsContainer .upperContainer .firstContainer li {
  margin-right: 20px;
  padding: 2px 10px;
  border-radius: 10px;
  color: #F6F6F6;
  background-color: #FF6060;
}
.cardDetailsContainer .upperContainer .firstContainer h1 {
  margin: 0px;
  color: #FF6060;
}
.cardDetailsContainer .upperContainer .firstContainer p {
  margin: 5px 0px 15px;
}
.cardDetailsContainer .upperContainer .ownerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.cardDetailsContainer .upperContainer .ownerData .imgAndName {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cardDetailsContainer .upperContainer .ownerData .ownerName {
  width: 70px;
  text-align: right;
  margin-right: 10px;
}
.cardDetailsContainer .upperContainer .ownerData .ownerImg {
  width: 64px;
  height: 64px;
  border-radius: 100px;
}
.cardDetailsContainer .upperContainer .ownerData .stars_rating {
  height: 36px;
  width: 140px;
  margin-bottom: 10px;
}
.cardDetailsContainer .upperContainer .ownerData .stars_rating .star {
  width: 24px;
  height: 24px;
}
.cardDetailsContainer .collapseContainer {
  gap: 76px;
  width: 100%;
}
.cardDetailsContainer .collapseContainer div {
  width: 100%;
}

@media screen and (max-width: 480px) {
  header {
    align-items: center;
    margin: 0px;
  }
  header nav {
    gap: 20px;
  }
  header nav ul {
    width: -moz-fit-content;
    width: fit-content;
    gap: 15px;
    align-items: center;
  }
  header nav ul li {
    font-size: 13px;
    line-height: 17px;
  }
  header nav img {
    width: 120px;
  }
  header .active {
    text-decoration: underline;
  }
  .cardDetailsContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .cardDetailsContainer .imgSlider {
    width: 100%;
    position: relative;
  }
  .cardDetailsContainer .imgSlider .mainSliderImg {
    height: 250px;
  }
  .cardDetailsContainer .imgSlider .slideNext {
    right: 20px;
    width: 6%;
    top: 110px;
    height: auto;
    position: absolute;
  }
  .cardDetailsContainer .imgSlider .slidePrev {
    left: 20px;
    rotate: 180deg;
    width: 6%;
    top: 110px;
    cursor: pointer;
    position: absolute;
  }
  .cardDetailsContainer .imgSlider .counter {
    display: none;
  }
  .cardDetailsContainer .imgSlider .counter {
    bottom: 100px;
  }
  .cardDetailsContainer .upperContainer {
    display: flex;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
  }
  .cardDetailsContainer .upperContainer .tagContainer {
    max-width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
  }
  .cardDetailsContainer .upperContainer .tagContainer ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }
  .cardDetailsContainer .upperContainer .tagContainer ul li {
    max-height: 30px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    font-size: 12px;
  }
  .cardDetailsContainer .upperContainer .ownerData {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cardDetailsContainer .upperContainer .ownerData .stars_rating {
    height: -moz-fit-content;
    height: fit-content;
  }
  .cardDetailsContainer .upperContainer .ownerData .ownerImg {
    width: 32px;
    height: 32px;
  }
  .cardDetailsContainer .upperContainer .ownerData p {
    font-size: 12px;
  }
  .cardDetailsContainer .collapseContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .cardDetailsContainer .collapseContainer h2 {
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
  }
  body .home_container {
    width: 100%;
  }
  body .home_container .gallery_wrapper {
    width: 100%;
    background-color: transparent;
  }
  body .home_container .gallery_wrapper .home_gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  body .home_container .gallery_wrapper .home_gallery figure {
    width: 100%;
    height: 255px;
  }
  body .home_container .collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .home_container .collapse .about {
    width: 90%;
  }
  body .home_container .collapse .about h2 {
    font-size: 13px;
  }
  body .home_container .collapse .about img {
    width: 6%;
  }
  body .home_container .collapse .about div {
    font-size: 12px;
  }
  body .home_container .error_wrapper {
    height: 75vh;
  }
  body .home_container .error_wrapper img {
    height: 100px;
  }
  body .home_container .error_wrapper p {
    font-size: 18px;
    font-weight: 500px;
    text-align: center;
  }
  body .home_container .error_wrapper a {
    text-decoration: underline;
    font-size: 14px;
  }
  body .home_container .content.show {
    font-size: 12px;
  }
}
* {
  box-sizing: border-box;
  font-family: montserrat, Times, serif;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: initial;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
header img {
  width: 210px;
}
header .active {
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 68 px;
  width: 85vw;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

footer {
  width: 100%;
  height: 209px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
footer p {
  color: white;
}

.home_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home_container img {
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_container .banner {
  width: 85vw;
  position: relative;
  display: flex;
  align-items: center;
}
.home_container .banner img {
  width: 100%;
  height: 200px;
  opacity: 60%;
  filter: brightness(35%);
}
.home_container .banner p {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}
.home_container .gallery_wrapper {
  width: 85vw;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin: 40px 0px;
  padding: 40px;
}
.home_container .gallery_wrapper .home_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.home_container .gallery_wrapper .home_gallery figure {
  position: relative;
  width: 1fr;
  height: 340px;
  margin: 0px;
}
.home_container .gallery_wrapper .home_gallery figure img {
  width: 100%;
  height: 100%;
}
.home_container .gallery_wrapper .home_gallery figure p {
  padding: 0;
  position: absolute;
  width: 50%;
  bottom: 0px;
  left: 10px;
  color: white;
}

.error_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
}
.error_wrapper img {
  height: 263px;
}
.error_wrapper p {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 36px;
  font-weight: 500px;
  color: #FF6060;
}
.error_wrapper a {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */